@using LibreriaElSaber.Models
@model IEnumerable<LibreriaElSaber.Models.User>


<h4>Listado de Usuarios</h4>
<hr />
<p><a asp-action="Create" class="btn btn-success">Create New</a></p>
<table  class="table table-bordered table-striped table-hover table-sm">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Correo Electrónico</th>
            <th>Tipo Usuario</th>
            <th>Imagen</th>
            <th>Actions</th>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                <td>@Html.DisplayFor(modelItem => item.CorreoElectronico)</td>
                <td>@Html.DisplayFor(modelItem => item.TipoUsuario)</td>
                <td><img src="@item.Imagen" alt="User Image" width="50" height="50"></td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdUsuario" class="btn btn-primary">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.IdUsuario" class="btn btn-info">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdUsuario" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
