@using LibreriaElSaber.Models
@model IEnumerable<LibreriaElSaber.Models.User>


<h1>Usuarios</h1>

<p><a asp-action="Create">Create New</a></p>
<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Correo Electrónico</th>
            <th>TipoUsuario</th>
            <th>Imagen</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                <td>@Html.DisplayFor(modelItem => item.CorreoElectronico)</td>
                <td>@Html.DisplayFor(modelItem => item.TipoUsuario)</td>
                <td><img src="@item.Imagen" alt="User Image" width="50" height="50"></td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdUsuario">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.IdUsuario">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdUsuario">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
