@model LibreriaElSaber.Models.Prestamo

<div>
    <h4>Prestamo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaPrestamo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaPrestamo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaDevolucion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaDevolucion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Devuelto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Devuelto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Libro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Libro.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuario.IdUsuario)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdPrestamo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
