@model IEnumerable<LibreriaElSaber.Models.Prestamo>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaPrestamo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaDevolucion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Devuelto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Libro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaPrestamo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaDevolucion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Devuelto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Libro.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.IdUsuario)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdPrestamo">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdPrestamo">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdPrestamo">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
